<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:remove="all">Boletim do Diário Oficial - SeMAE Rio Preto</title>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                <tr>
                    <td align="center" valign="top" bgcolor="#70bbd9">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailHeader">
                            <tr>
                                <td align="center" valign="top">
                                    <h1>Boletim do Diário Oficial</h1>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <h3>SeMAE - São José do Rio Preto - SP</h3>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailBody">
                            <tr>
                                <td align="left" valign="top">
                                    Olá,
                                </td>
                            </tr>
                            <tr>
                                <td th:if="${#sets.isEmpty(publications)}" align="left" valign="top">
                                    Não houve publicações do SeMAE no Diário Oficial de São José do Rio Preto na data de <span th:text="${date}">hoje</span>!
                                </td>
                                <td th:unless="${#sets.isEmpty(publications)}" align="left" valign="top">
                                    Segue a lista das publicações do SeMAE no Diário Oficial de São José do Rio Preto na data de <span th:text="${date}">hoje</span>!
                                </td>
                            </tr>
                            <tr th:unless="${#sets.isEmpty(publications)}">
                                <td align="left" valign="top">
                                    <ul>
                                        <li th:each="pub : ${publications}">
                                            <a th:href="@{${pub.link}}" th:text="${pub.code}"></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                            <tr>
                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;"
                                    width="75%">
                                    &reg; Alguém, algum lugar 2021<br/>
                                    <a href="#" style="color: #ffffff;">
                                        <font color="#ffffff">
                                            Remova sua inscrição</font>
                                    </a> dessa e-mail marketing, instantaneamente
                                </td>
                                <td align="right">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <a href="http://www.twitter.com/">
                                                    <img src="images/tw.gif" alt="Twitter" width="38" height="38"
                                                         style="display: block;" border="0"/>
                                                </a>
                                            </td>
                                            <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                            <td>
                                                <a href="http://www.twitter.com/">
                                                    <img src="images/fb.gif" alt="Facebook" width="38" height="38"
                                                         style="display: block;" border="0"/>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>